body {
    background-color: rgb(255, 192, 205);
}

.main {
    margin: auto;
    max-width: 1000px;
    padding: 10px;
    text-align: center;
}

.oneline {
    display: inline-block;
    text-align: center;
    margin: 1%;
}

* {
    font-family: Helvetica
}