body {
    background-color: rgb(255, 192, 205);
}

.main {
    margin: auto;
    max-width: 700px;
    text-align: center;
}

p {
    font-size: 16px;
}

* {
    font-family: Helvetica;
    color: rgb(0, 0, 0)
}

li {
    border:1px solid black;
}

.song {
    border:1px solid black;
}

.song:hover{
    background-color: rgb(255, 154, 174);
    cursor:pointer;
}

.float-box {
    display: flex;
    justify-content: center;
}